<div>

<div>
    {{#each artists}}
{{FirstName}} {{LastName}}
<h2>{{ProfilePic}}</h2>
<h2>Email: {{Email}}</h2>
<h3>Group Name: {{Username}}</h3>
 {{/each}}

  

<form action="/users/logout" method="GET">
    <button type="submit"> logout </button>
</form>

</div>
<br>
<div>

    
    
       

</div>

</div> 