<div>

<div>

<h1>Hello {{FirstName}} !!</h1>
<h2>{{ProfilePic}}</h2>
<h2>Email: {{Email}}</h2>
<h3>Artist: {{Username}}</h3>

Kuddos received:
<br>
{{#each comments}}
   {{CommentBody}} <br>
 {{/each}}
  <br>
  Status Board : 
  <br>
  {{#each status}}
  {{Username}} : {{StatusBody}} <br>
 {{/each}}
  
  

<form action="/users/astatus" method="POST">

    

    <div>

        <label for="StatusBody">Update Status!: </label>

        <input type="text" name="StatusBody">

    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>


</form>

<form action="/users/logout" method="GET">
    <button type="submit"> logout </button>
</form>

</div>
<br>
<div>

    
    
       

</div>

</div>